$columns: 12;
$columnWidth: 100% / $columns;

$mdWidth: 600px;
$lgWidth: 1000px;

.row{
  &:after{
    clear: both;
    display: block;
    content: '';
  }
}

.col{
  float: left;
  padding-left: 12px;
  padding-right: 12px;
}

@for $i from 1 through $columns{
  .col#{$i}{
    width: $columnWidth * $i;
  }
}

@media (min-width: $mdWidth) {
  @for $i from 1 through $columns{
    .colM#{$i}{
      width: $columnWidth * $i;
    }
  }
}

@media (min-width: $lgWidth) {
  @for $i from 1 through $columns{
    .colL#{$i}{
      width: $columnWidth * $i;
    }
  }
}
